# SUPABASE API Configuration
VITE_SUPABASE_URL="https://tuvdvrysxjwkzjhlomsx.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_YCgsKUyp9NHxEta_ZB0hjg_iIxG7E5D"

# OpenWeatherMap API Configuration (Optional)
VITE_OPENWEATHER_API_KEY=
